
.footer {
    background-color: var(--primary-color);
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer__col:first-child {
    max-width: 300px;
  }
  
  .footer__logo {
    margin-bottom: 1rem;
  }
  
  .footer__col p {
    color: var(--text-light);
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  
  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  
  .footer__links a {
    color: var(--text-light);
  }
  
  .footer__links a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
  }
