.header {
    position: relative;
    height: 100vh;
  }
  
  .header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 15rem);
    background-image: radial-gradient(
        rgba(255, 255, 255, 0),
        var(--primary-color)
      ),
      url("/src/assets/images/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  nav {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    z-index: 9;
  }

  .nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__links {
    position: absolute;
    right: 1rem;
    top: 68px;
    width: calc(100% - 2rem);
    max-width: 350px;
    padding: 2rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgba(10, 30, 39, 0.8);
    border-radius: 10px;
    display: none;
  }

  .nav__links.open {
    display: flex;
    animation: show-nav 0.3s linear forwards;
  }
  
  .nav__links.close {
    animation: hide-nav 0.3s linear forwards;
  }
  
  @keyframes show-nav {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes hide-nav {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .nav__links a {
    font-weight: 500;
    color: var(--white);
  }
  
  .nav__links a:hover {
    color: var(--secondary-color);
  }

  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__action__btn {
    display: none;
  }

  .header__container {
    position: relative;
    isolation: isolate;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__content {
    max-width: 700px;
  }
  
  .header__content .section__header {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
  }
  
  .header__content a {
    color: var(--white);
  }
  
  .header__content a:hover {
    color: var(--secondary-color);
  }
  
  .header__socials {
    position: absolute;
    left: 0;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transform: translateX(calc(-50% + 1rem)) rotate(90deg);
    display: none;
  }
  
  .header__socials a {
    font-size: 1.2rem;
    color: var(--white);
    transform: rotate(-90deg);
  }
  
  .header__socials a:hover {
    color: var(--secondary-color);
  }

  .header__container {
    position: relative;
    isolation: isolate;
    height: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__content {
    max-width: 700px;

  }

  .header__content .section__header {
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
  }

  .header__content a {
    color: var(--white);
  }

  .header__content a:hover {
    color: var(--secondary-color);
  }

  .header__socials {
    position: absolute;
    left: 0;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transform: translateX(calc(-50% + 1rem)) rotate(90deg);
  }

  .header__socials a {
    font-size: 1.2rem;
    color: var(--white);
    transform: rotate(-90deg);
  }
